@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50rem;
  margin-left: 7rem;
  margin-top: 90px;
  border-radius: 10px;
  font-family: "Yantramanav", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  height: 60px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.listElements {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.fas {
  color: rgb(139, 137, 137);
}

.trash {
  display: none;
}

.no-outline {
  border: none;
  outline-width: 0;
}

header span {
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
}

.inputField {
  display: flex;
  width: 100%;
  height: 60px;
}

input {
  background-color: transparent;
  border: 0 solid;
}

.inputField #input-box {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

.inputField #input-box::placeholder {
  font-style: italic;
}

.inputField span {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.center-items {
  align-items: center;
}

.list-group-1 {
  width: 100%;
  height: 60%;
}

.task-description {
  margin-left: 10px;
}

.edit-input {
  display: none;
  margin-left: 10px;
  height: 40px;
  width: 70%;
}

.todoList {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.clear-all-completed {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.text-line {
  text-decoration: line-through;
}

.clear-all-completed:hover {
  color: rgb(238, 238, 238);
}

hr {
  color: rgb(78, 78, 78);
  width: 100%;
}

.todoList li {
  display: flex;
  position: relative;
  list-style: none;
  height: 60px;
  margin-bottom: 8px;
  font-weight: 500;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.footer > span {
  font-size: 20px;
  font-weight: 700;
}

.todoList li span {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.d-height {
  height: 50px;
  padding-right: 9px;
  padding-left: 9px;
  border-bottom: 1px solid #d9d1d1;
}

.todo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 100;
}

.check-box {
  margin-right: 4px;
}

.footer {
  display: flex;
  width: 100%;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 197, 197);
}
