body {
  background-color: rgb(243, 239, 239);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 50%;
  min-width: 280px;
  height: auto;
  padding: 20px 0 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.4rem;
  background-color: white;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5c5c5c;
  padding: 10px 20px;
}

.heading {
  margin: 0;
}

.add-item {
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.add-item::placeholder {
  font-style: italic;
}

.enter-button {
  transform: rotate(90deg);
  border: none;
  background: none;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.description {
  margin: 0;
  padding: 15px 20px 0 20px;
  width: 100%;
  border: none;
  background: none;
  resize: none;
  outline: none;
}

.task-button,
.clear,
.enter-button {
  padding: 5px;
  font-size: 15px;
  border: none;
  color: #414141;
  background: none;
}

.clear-completed {
  margin: 0;
  width: 100%;
  height: 50px;
  color: #414141;
  border: none;
  background: #dddbdb;
}

.clear:hover i,
.enter-button:hover .level.down,
.clear-completed:hover {
  font-weight: bold;
  color: rgb(139, 137, 137);
}

.task-button:hover .trash.alternate {
  color: rgb(139, 137, 137);
}
